    <!-- Chat -->
    <div id="chat" >
        <!-- BEGIN Comm100 Live Chat Button Code --><a href="http://livechat.comm100.com/" target="_blank" id="chat_open" onclick="comm100_156710.openChatWindow(event,207,-1);return false;"><img style="border:0px" id="comm100_ButtonImage" src="https://chatserver.comm100.com/BBS.aspx?siteId=156710&amp;planId=207&amp;partnerId=-1" alt="Live Chat"/></a><script src="https://chatserver.comm100.com/js/LiveChat.js?siteId=156710&amp;planId=207&amp;partnerId=-1" type="text/javascript"></script><br /><!-- End Comm100 Live Chat Button Code -->
    </div>
    <!-- Chat End -->
    <script>
        $(window).load(function() {
            setTimeout(function(){
                $("#chat_open").trigger('click');
            },10000);
        });
    </script>