      <div style="padding:20px;">
        <ul>
          <li><a href="#primeworks">How your Prime Card works</a></li>
          <li><a href="#buying">Buying a Prime Card</a></li>
          <li><a href="#buyingonline">Buying a Prime Card online</a></li>
          <li><a href="#usingcard">Using your Prime Card</a></li>
          <li><a href="#problem">Problems using your Prime Card</a></li>
          <li><a href="#active">Registration</a></li>
          <li><a href="#upgrade">How to upgrade to Reloadable</a></li>
          <li><a href="#relode">How to reload your Prime Card</a></li>
          <li><a href="#fees">Prime fees</a></li>
          <li><a href="#balance">Account balance</a></li>
          <li><a href="#security">Prime security</a></li>
          <li><a href="#contact">How to contact us</a></li>
        </ul>
      </div>
