    <div id="footer_wrapper">
        <div id="footer">
            <div id="footer_left">
                <div id="footer_logo"><img src="images/footer_logo.png" /></div>
                <div id="footer_btns">
                    <ul>
                        <li><a href="http://www.idtfinance.com/" target="_blank"><img src="images/about_us_btn.png" /></a></li>
                        <li><a href="personal_enqury.html"><img src="images/personal_enq_btn.png" /></a></li>
                        <li><a href="contact_us.html"><img src="images/contact_us_btn.png" /></a></li>
                    </ul>
                </div>
            </div>
            <div id="footer_right">
                <ul id="footer_right_icons">
                    <li><img src="images/epay_icon.png" /></li>
                    <li><img src="images/pay_point_icon.png" /></li>
                    <li><img src="images/post_office_icon.png" /></li>
                </ul>
                <div id="t_and_c"><a href="terms_condition.html">Terms &amp; Conditions</a></div>
            </div>
            <div id="footer_note" style="clear:both">
                <p>The Prime Card is issued by IDT Financial Services Limited pursuant to a license from MasterCard International Incorporated. MasterCard and the MasterCard Brand Mark are registered trademarks of MasterCard International Incorporated. IDT Financial Services Limited is a regulated bank, licensed by the Financial Services Commission, Gibraltar. Registered Office: 57-63 Line Wall Road, Gibraltar. Registered No. 95716. All communications should be sent to IDT Financial Services Limited, PO Box 1374, Gibraltar.</p>
            </div>
        </div>
    </div>