            <div class="card_register_box">
                <div class="btn_card_register">
                    <a href="https://ext.idt.net/svpeuro/signup/home/start/prime/"><span class="sprite get_btn_prim"></span></a>
                    <a href="https://ext.idt.net/svpeuro/register/home/login/prime/"><span class="sprite register_card_btn"></span></a>
                    <a href="upgrade.html"><span class="sprite upgrade_card_btn"></span></a>
                    <p class="txt_4"><a href="buy_in_store.html">reload your card</a> <span class="relod_icon_imge" ><img src="images/icon_relod.png"/></span></p>
                </div>
                <img src="images/card_flt_iner.png" class="float_card_2" />
                <div class="btn_cashback"><a href="http://www.primecashback.com/" target="_blank"><span class="sprite cash_back"></span></a></div>
            </div>