			<div id="card_register_box">
				<div id="btn_card_register">
					<a href="https://extraapp2008/svpeuro/signup/home/start/prime/"><img src="images/get_btn_prim.png" border="0" alt="Get Prime"  class="prime_btn" /></a>
					<a href="https://extraapp2008/svpeuro/register/home/login/prime/"><img src="images/register_card_btn.png" width="180" height="29" alt="Register Your Card" /></a>
					<a href="upgrade.html"><img src="images/upgrade_card_btn.png" width="180" height="29" alt="Upgrade Your Card"/></a>
					<p  class="txt_4"><a href="buy_in_store.html">reload your card</a> <span class="relod_icon_imge" ><img src="images/icon_relod.png"  /></span></p>
				</div>
				<img src="images/card_flt_iner.png" class="float_card_2" />
				<div id="btn_cashback"><a href="http://www.primecashback.com/" target="_blank"><img src="images/cash_back.png" border="0"  style="margin-top:15px;" /></a></div>
			</div>